{% extends "hotelreg/base.html" %} {% block start %}

<section class="colorful jumbotron mb-0" role="banner">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">
        <div class="navbar-brand">
            <a href="index.html"> </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container hotels-container">
        <div class="row mt-2 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1>HOTEL Place</h1>
                <span class="">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
                    debitis perspiciatis sed iusto eveniet neque natus quidem velit optio
                    cumque saepe repudiandae vero, sit hic adipisci laudantium libero
                    blanditiis animi.
                </span>
            </div>
        </div>
    </div>
</section>

<section class="search-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3"></div>
                <div class="row mt-2 justify-content-between">
                    <div class="filter-card">
                        <h5>Filter</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Check in</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control" />
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Check out</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control" />
                                    </p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Limit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 px-4 mb-5 mt-3">



                {% for i in hotel %}

                <div class="row search-card-result">
                    <div class="col-md-3">
                        {% if i.hotel_image %}
                        <a href="{% url 'hotel_detail' i.pk %}">
                            <img src="{{ i.hotel_image.url }}" alt="" class="img-fluid mb-2" />
                        </a>
                        {% endif %}
                    </div>

                    <div class="col-md-5">
                        <h5>{{i.hotel_name}}</h5>

                        <p>{{i.hotel_description | safe}}</p>
                        <!-- <p>
                            {%for amenitie in hotels_obj.amenities.all %}
                            <b>{{amenitie.amenity_name}}</b>,
                            {% endfor %}
                        </p> -->
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <p>{{i.hotel_email}}</p>
                        <p>${{i.hotel_price}}</p>
                        <p>Room Available</p>
                        <p>{{i.room_count}}</p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        {% if user.user_type == "HotelManager" or user.user_type == "Admin"%}
                        <a href=" {% url 'update-hotel' i.pk %}">EDIT</a><br />
                        <a href="{% url 'delete-hotel' i.pk %}">DELETE</a>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}