body {
    font-family: 'Nunito', sans-serif;
}

#mainNavbar a {
    color: white;
    font-size: 20px;
}

#mainNavbar a:hover {
    color: red;
    font-size: 20px;
}



#mainNavbar .nav-link {
    color: white;
    font-size: 20px;
}



#mainNavbar .login-button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: none;
}


#mainNavbar .login-button a:hover {
    color: red;
    background-color: none;
}




.navbar.scrolled {
    background-color: black;
    transition: background 500ms ease-in;
}

.container a{
    color: black;
    text-decoration: none;
}

.container a:hover {
    color: red;
    text-decoration: none;
    transition: background 500ms ease-in;
}

.container a.back {
    color: white;
    transition: background 200ms ease-in;
}

.container a.back:hover {
    color: red;
}

.footer-copyright a{
    color: black;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: red;
    text-decoration: none;
}

.container .content p{
    text-align: justify;
    margin: 35px;
}




#mainNavbar .login-button.dropbtn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: black;
}

.dropdown-content a {
    color: white;
    margin-top: 15px;
    text-decoration: none;
    display: block;
    background-color: black;
}

.dropdown-content a:hover {
    color: red;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
}

.dropdown:hover .dropbtn {
    color: red;

}