{% extends 'base.html' %} {% load static %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}" />

{% block content %}

<style>
  .container {
    font-family: "Nunito", sans-serif;
  }

  .container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .container span {
    color: red;
  }
</style>

<section class="container-fluid px-0 mb-5">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <img class="img-fluid" src="{% static 'images/pic2.jpg' %}" alt="" />
    </div>
  </div>
</section>

<div class="container">
  <h1><img src="{% static 'images/pic3.png'%}" alt="" /> ABOUT US</h1>
  <br /><br />

  <h3>1. About this site</h3>
  <p>
    Lorem ipsum dolor sit amet. In internos asperiores est internos assumenda
    aut earum minus sed architecto facere At magni necessitatibus. Sit sint
    recusandae ut aliquid aliquid et consequuntur fugiat et praesentium
    temporibus sit temporibus maiores. Ex dicta unde eos voluptates ullam sed
    ullam libero et modi animi et deleniti totam in animi sapiente eos animi
    doloribus! Et reprehenderit minus At rerum obcaecati sit quos reprehenderit
    et nihil dolor.Rem illo facilis non modi obcaecati aut autem ipsa aut
    inventore harum hic architecto sunt! Non corrupti veniam At ipsam blanditiis
    et consequatur voluptatum. Ut eligendi voluptas aut inventore repellat cum
    possimus nesciunt!
  </p>
  <br />

  <h3>2. Who are we</h3>
  <p>
    Lorem ipsum dolor sit amet. In internos asperiores est internos assumenda
    aut earum minus sed architecto facere At magni necessitatibus. Sit sint
    recusandae ut aliquid aliquid et consequuntur fugiat et praesentium
    temporibus sit temporibus maiores. Ex dicta unde eos voluptates ullam sed
    ullam libero et modi animi et deleniti totam in animi sapiente eos animi
    doloribus! Et reprehenderit minus At rerum obcaecati sit quos reprehenderit
    et nihil dolor.Rem illo facilis non modi obcaecati aut autem ipsa aut
    inventore harum hic architecto sunt! Non corrupti veniam At ipsam blanditiis
    et consequatur voluptatum. Ut eligendi voluptas aut inventore repellat cum
    possimus nesciunt!
  </p>
  <br />

  <h3>3. Our Team</h3>
  <p>
    Lorem ipsum dolor sit amet. In internos asperiores est internos assumenda
    aut earum minus sed architecto facere At magni necessitatibus. Sit sint
    recusandae ut aliquid aliquid et consequuntur fugiat et praesentium
    temporibus sit temporibus maiores. Ex dicta unde eos voluptates ullam sed
    ullam libero et modi animi et deleniti totam in animi sapiente eos animi
    doloribus! Et reprehenderit minus At rerum obcaecati sit quos reprehenderit
    et nihil dolor.Rem illo facilis non
    <span>
      modi obcaecati aut autem ipsa aut inventore harum hic architecto sunt! Non
      corrupti veniam At ipsam blanditiis et consequatur voluptatum. Ut eligendi
      voluptas aut inventore repellat cum possimus nesciunt!</span
    >
  </p>
  <br />

  <h3>4. Content Solution</h3>
  <p>
    Lorem ipsum dolor sit amet. In internos asperiores est internos assumenda
    aut earum minus sed architecto facere At magni necessitatibus. Sit sint
    recusandae ut aliquid aliquid et consequuntur fugiat et praesentium
    temporibus sit temporibus maiores. Ex dicta unde eos voluptates ullam sed
    ullam libero et modi animi et deleniti totam in animi sapiente eos animi
    doloribus! Et reprehenderit minus At rerum obcaecati sit quos reprehenderit
    et nihil dolor.Rem illo facilis non modi obcaecati aut autem ipsa aut
    inventore harum hic architecto sunt! Non corrupti veniam At ipsam blanditiis
    et consequatur voluptatum. Ut eligendi voluptas aut inventore repellat cum
    possimus nesciunt!
  </p>
  <br />

  <h3>5. Feedback from our users</h3>
  <p>
    Lorem ipsum dolor sit amet. In internos asperiores est internos assumenda
    aut earum minus sed architecto facere At magni necessitatibus. Sit sint
    recusandae ut aliquid aliquid et consequuntur fugiat et praesentium
    temporibus sit temporibus maiores. Ex dicta unde eos voluptates ullam sed
    ullam libero et modi animi et deleniti totam in animi sapiente eos animi
    doloribus! Et reprehenderit minus At rerum obcaecati sit quos reprehenderit
    et nihil dolor.Rem illo facilis non modi obcaecati aut autem ipsa aut
    inventore harum hic architecto sunt! Non corrupti veniam At ipsam blanditiis
    et consequatur voluptatum. Ut eligendi voluptas aut inventore repellat cum
    possimus nesciunt!
  </p>
  <br />
</div>

{% endblock %}
