{% extends 'base.html' %} {% load static %} {%block title%} {{post.title}}
{%endblock%} {% block content %}

<br /><br />

<div class="container">
  <h2>
    {{ post.title }}
    <small class="ml-5">
      {% if request.user.is_authenticated%}
      {% if user.id == post.author.id %}
      <a href="{% url 'update-content' post.pk %}">EDIT</a>
      <a href="{% url 'delete-content' post.pk %}">DELETE</a>
      {% endif%}
      {% endif%}
    </small>
  </h2>

  <small> {{post.date_posted}} </small>
  <br /><br />

  {% if post.Image %}
  <img src="{{post.Image.url}}" alt="" class="img-fluid mb-5" />
  {% endif %}

  <div class="content">
    <p>{{ post.content | safe }}</p>
  </div>

  {% if request.user.is_authenticated%}
  {% if user.id == post.author.id %}
  <a href="{% url 'addHotel' post.pk %}">ADD HOTEL</a>
  <a href="{% url 'booking' post.pk %}">BOOKINGS</a>
  <br /><br /><br />
  {% endif%}
  {% endif%}

  {%if request.user.user_type == "Tourist"%}
  <a href="{% url 'booking' post.pk %}">BOOKINGS</a>
  <br /><br /><br />
  {% endif %}

  <a href="{% url 'index' %}" class="btn btn-dark mb-5 back">BACK</a>
</div>

{% endblock %}